* { font-family: tahoma; font-size: 12px };
body{ direction: rtl;}

@font-face {
    font-family: 'BYekan';
    font-weight: normal;
    src: url('../fonts/BYekan.eot?#') format('eot'),  /* IE6?8 */
         url('../fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/BYekan.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
    font-family: 'nassim';
    font-weight: normal;
    src: url('../fonts/nassim-regular.eot?#') format('eot'),  /* IE6?8 */
         url('../fonts/nassim-regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/nassim-regular.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}

h1, h2, h4 , h5, h6, small { font-family: BYekan !important; /* purple color:#563444 */; color: #4A4A4A;}
h3 { font-family: 'nassim' !important; }

a {
    color: #1BB0CE;
}
a:hover {
    color: #4F8699;
}
thead td a {
    color: white
}
thead td a:hover {
    color: #DAD6CA;
    text-decoration: none;
}

p.error { display: block; color:red; }
.dir-up:after {
    content: ' ▲';
}
.dir-down:after {
    content: ' ▼';
}
body {
    padding-top: 60px;
    padding-bottom: 40px;
    background: url('../img/bg-main.png');
}
.sidebar-nav {
    padding: 9px 0;
}
#menu {
    cursor: pointer;
}

thead td {
    /* background: #6A5E72; purple*/ 
    background: #2491A6;
    color: white;
}
select, label, button, input {
    font-family: tahoma !important;
    font-size: 12px !important;
}

.nav li:hover a {
    color:#06C; ;
}

.deactive-sign {
    color: red;
}
.active-sign {
    color: green;
}

input[type=file]{
    border: 1px solid #e8e8e8;
}

.downloadfile {
    padding: 3px;
}

.point{
    font-family: 'nassim';
    font-size: 2em;
    display: inline;
}

#imgloader{
    margin: 10px;
    z-index: 9999;
}
.nowrap {
    width: 1px !important;
    white-space: nowrap !important;
}
.messagebox {
    padding-left: 30px;
    overflow: hidden;
    width:260px !important;
    resize: none;
    font-size: 12px;
    font-family: tahoma;
}
#messagebox {
    overflow: hidden;
    resize: none;
    font-family: tahoma !important;
}

div#msg {
    position: relative;
    font-family: tahoma;
}

div#msg div#smilebox {
    position: absolute;
    right: 270px;
    top: 10px;
    background: url('../img/smile.png') no-repeat;
    width: 18px;
    height: 18px;
}
.smile {
    cursor: pointer;
}
#blockit {
    width: 100% !important;
}
#blockit button {
    width: 33.3%;
}
li.success {
    background-color: #DFF2BF !important;
    color:white;
}
li.danger {
    background-color: #f2bfbf !important;
}
li.warning {
    background-color: #ffbf65 !important;
}
.rollcall tr td{
    vertical-align: middle;
}

.crop50-pic{
    display: block;
    float: right;
    width: 50px !important;
    height: 50px !important;
}
.crop32-pic{
    float: right;
    width: 32px !important;
    height: 32px !important;
}

table#conversation tr td {
    cursor: pointer;
}
ul.messages li {
    list-style: none;
}
.margin5 {
    margin: 5px;
}
h4.inline {
    display: inline;
}
.msgdate {
    margin: 10px !important;
}
.messagesContent {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    background: white;
    min-height: 65px;
    min-width: 99%;
    max-width: 100%;
    margin: 5px auto;
}
span#smilebox-float {
    position: absolute;
    right: 310px;
    top: 10px;
    background: url('../img/smile.png') no-repeat;
    width: 18px;
    height: 18px;
}
#message-reply {
    float: right;
    width: 350px;
    position: relative;
}
.reply-upload {
    float: right;
    min-width: 120px;
}
.messageReply {
    font-family: tahoma !important;
    font-size: 12px;
    margin: 5px;
    float:right;
    clear: none;
    min-width: 320px;
}
.makeTextNice {
    font-family: tahoma !important;
    font-size: 12px;
}
div.error h4 {
    font-family: BYekan !important;
    color:red;
}
div#ajaxLoading{
    z-index: 9999;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    border: thin solid gray;
    background: white;
    display: block;
    vertical-align: middle;
    text-align: center;
}
div#ajaxLoading img{
    margin: 10px;
}
a.btn {
    font-size: 12px;
}
table#schedule tr td {
    vertical-align: middle;
}
.messagesContent {
    word-wrap:break-word;
}
.rfloat{
    float: right;
    display: inline-block;
}
img.newsfeed {
    margin: 15px;
    margin-right: 0;
}
.notification {
    color: #06C;
}
.nav li.notification{
    position:relative;     /* This is crucial for the absolutely positioned element */
}
.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    bottom: 5px;
    right: 5px;
    padding:1.5px 3px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:10px;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    /* border-radius:30px; */
    box-shadow:1px 1px 1px gray;
}
span.notif{
    width: 100%;
    height: 100%;
}
span.notif a {
    color: white !important;
    text-decoration: none;
}
span.error {
    color: red;
}

*.note {
    line-height: 20px;
    background: url('../img/notes.png') repeat;
    color: #2D0003;
    font-weight: bold;
    font-family: 'BYekan', Arial ,tahoma !important;
    font-size: 16px;
}
.simplebox{
    outline: none;
    box-shadow:none !important;
}
.simplebox:focus {
    border: solid 1px #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}
div.note {
    min-height: 300px !important;
    max-height: 301px !important;
    overflow: scroll;
    padding: 5px 0;
    margin-top: 10px;
}
div.note div.mCSB_container{
    font-family: 'BYekan', Arial ,tahoma !important;
    font-size: 16px;
    line-height: 20px !important;
}
